# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Django
*.log
*.sqlite3
staticfiles/
media/

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
